#recipe-search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#recipe-index {
  border: 1px solid #111;
  color: #6b6b6c;
  font-size: 24px;
  height: 70px;
  width: 500px;
  margin: 0 0 25px 0;
  padding: 0px 30px;
}

#submit-btn {
  background: #ffcba4;
  color: black;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width: 250px;
  height: 72px;
}

#submit-btn:hover {
  background: #f98b88;
}

.results {
  height: 200px;
  width: 200px;
  border: 1px solid red;
}

.chicken {
  background-image: url("https://food.fnr.sndimg.com/content/dam/images/food/fullset/2012/11/2/0/DV1510H_fried-chicken-recipe-10_s4x3.jpg.rend.hgtvcom.826.620.suffix/1568222255998.jpeg");
}

.pasta {
  background-image: url("https://food.fnr.sndimg.com/content/dam/images/food/fullset/2012/11/2/0/DV1510H_fried-chicken-recipe-10_s4x3.jpg.rend.hgtvcom.826.620.suffix/1568222255998.jpeg");
}
